extends layout

mixin badge(user,id)
  - var name = user.username
  li.sitesBadge(id=id)
    a(href="/users/"+name).image
      p= name
      img(src=name+'prev.png')
    .infos
      ul
        for v, info in user.infos
          li #{v} : #{info}

block content
  h1 
    | Les créations de tous 
    i.fa.fa-heart
  ul.wrap
    each user in users
      if user.username == name
        +badge(user,"moi")
      else
        +badge(user,"autres")
